<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
<!--
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户名:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_name" data-rule="required" value="{$row.reResumeOne.name}"  data-field="name" class="form-control " name="row[name]" type="text" disabled >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户年龄:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_age" data-rule="required" value="{$row.reResumeOne.age}"  data-field="name" class="form-control " name="row[name]" type="text" disabled >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户性别:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_sex" data-rule="required" value="{$row.reResumeOne.sex==0 ? '男' : '女'} "  data-field="name" class="form-control " name="row[name]" type="text" disabled >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户手机号:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_mobile" data-rule="required" value="{$row.reResumeOne.mobile}"  data-field="name" class="form-control " name="row[name]" type="text" disabled >
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">岗位名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-re_job_id" data-rule="required" data-source="" class="form-control" name="row[name]" type="text" value="{$row.reJobOne.name}" disabled >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公司名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-re_company_id" data-rule="required" data-source="re/company/index" class="form-control" name="row[re_company_id]" type="text" value="{$row.reCompanyOne.name}" disabled>
        </div>
    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">简历状态:</label>
        <div class="col-xs-12 col-sm-8">
            <!--<input id="c-offer" class="form-control" name="row[offer]" type="text" value="{$row.offer==1 ? '已录用' : '待录用'}">-->

            <select class="form-control"  id="c-offer"  name="row[offer]" >
                <option value ="0" {$row.offer==0 ? 'selected' : ''}>未查看</option>
                <option value ="1" {$row.offer==1 ? 'selected' : ''}>已录用</option>
                <option value="2" {$row.offer==2 ? 'selected' : ''} >未录用</option>
                <option value="3" {$row.offer==3 ? 'selected' : ''} >已查看</option>
                <option value="4" {$row.offer==4 ? 'selected' : ''} >通知面试</option>
                <option value="5" {$row.offer==5 ? 'selected' : ''} >离职</option>

            </select>

        </div>
    </div>
  <!--  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">推荐人:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rec_user_id" data-rule="required" data-source="" class="form-control" name="row[rec_user_id]" type="text" value="{$row.recUserOne.username}" disabled>
        </div>
    </div>-->
   <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Re_resume_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-re_resume_id" data-rule="required" data-source="re/resume/index" class="form-control selectpage" name="row[re_resume_id]" type="text" value="{$row.re_resume_id}">
        </div>
    </div>-->
   <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Update_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_at" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[update_at]" type="text" value="{$row.update_at}">
        </div>
    </div>-->
<!--    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">申请时间:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_at" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_at]" type="text" value="{$row.create_at}" disabled>
        </div>
    </div>-->
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">确认修改</button>
            <!--<button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
        </div>
    </div>
</form>
