<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bbs_member_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bbs_member_id" data-rule="required" data-source="bbs/member/index" class="form-control selectpage" name="row[bbs_member_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bbs_post_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bbs_post_id" data-rule="required" data-source="bbs/post/index" class="form-control selectpage" name="row[bbs_post_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_at" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_at]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Member_for')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-member_for" class="form-control" name="row[member_for]" type="number">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
